html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 165, 2);
}

* {
    box-sizing: border-box;
}

header {
    min-height: 18%
}